# Zadnie rozgrzewkowe oraz zadanie rozgrzewkowe 2

In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import random
import numpy as np

In [2]:
dni = Series(['pn','wt','sr','czw','pt','sb','nd'])
tempertury = Series([11,12,12,14,15,16,19])
wilgotnosc = Series(['80%', '90%', '83%', '95%','88%', '91%'])
slownik = {'Dzien':dni, 'Temperatura': tempertury, 'Wilgotnosc': wilgotnosc}

ramka = DataFrame(data=slownik)

In [3]:
ramka

  Dzien  Temperatura Wilgotnosc
0    pn           11        80%
1    wt           12        90%
2    sr           12        83%
3   czw           14        95%
4    pt           15        88%
5    sb           16        91%
6    nd           19        NaN

In [4]:
from faker import Faker
from faker.generator import random
fake = Faker('pl_PL')

In [5]:
grr = [fake.name() for i in range(250)]

In [6]:
wzrost = np.random.normal(168, 6, 250)
waga = np.random.normal(60, 1.5, 250)
nazwa = [grr.pop(random.randrange(len(grr))) for _ in range(250)]
slownik_zad1 = {'Imie i Nzawisko':nazwa, 'Wzrost':wzrost, 'Waga':waga}

tabela_bmi = DataFrame(data=slownik_zad1)

In [7]:
tabela_bmi

                Imie i Nzawisko       Waga      Wzrost
0                  Antoni Tylka  61.257705  160.668657
1               Ksawery Bogumił  63.144822  161.132297
2             pani Dorota Kunka  60.702451  165.717926
3                Kamil Jamrożek  59.300952  165.061281
4                 Julita Mikoda  60.697306  179.139585
5             pan Hubert Zbroja  61.953069  159.753342
6                Karina Mendyka  59.938984  173.841949
7                 Ewelina Kieca  60.432187  168.978316
8                   Alex Kałwak  58.304377  162.500724
9                 Ernest Zbroja  59.373983  181.120243
10           pani Julita Pasich  59.433728  163.887104
11               Malwina Martin  59.368909  164.082416
12         Franciszek Broniarek  58.432220  173.639625
13              Albert Pastucha  59.934413  171.975940
14                 Damian Kudra  61.576493  183.138002
15                 Ignacy Sędek  61.517556  163.571125
16                 Igor Raźniak  61.724321  164.760891
17           Anastazja Kubowicz  57.808561  166.409764
18                  Julita Cich  60.402639  168.412267
19                 Olaf Oziębło  60.016269  166.940870
20                Ryszard Batóg  61.019671  170.879044
21                  Filip Gorol  58.669271  149.449478
22                 Roksana Uzar  61.872034  162.889260
23           Kacper Leszkiewicz  61.945865  173.557812
24               pani Gaja Mila  58.233413  167.748179
25                Szymon Sibiga  59.531430  162.701430
26   pan Wojciech Tomaszkiewicz  58.991111  174.321580
27      pani Marcelina Paluszak  60.422697  160.466509
28               Marek Kociemba  57.824182  161.825242
29               Radosław Pyzel  61.220914  168.351922
..                          ...        ...         ...
220                Nela Jarczak  60.466905  162.468700
221               Ewelina Makar  59.808545  164.600910
222      pani Natasza Pachowicz  58.804589  163.797069
223                 Paweł Tolak  59.811793  174.483679
224          pani Gaja Kiliszek  62.238435  175.797093
225        Agnieszka Niedojadło  62.116100  162.481553
226              Rafał Baumgart  60.497461  163.335959
227               Ewa Posłuszna  62.289989  166.034814
228           Dorota Miechowicz  60.721480  171.526311
229           pan Mariusz Żynda  57.890272  178.427904
230         pani Olga Jancewicz  62.486224  159.774384
231            pan Adam Dziełak  60.388022  161.279755
232                Sandra Proch  59.055555  164.043994
233        pan Konstanty Miotke  58.860850  159.661225
234           pan Maciej Portka  57.281711  163.644816
235             Szymon Gąszczak  60.047435  167.314071
236              Jan Zbroszczyk  59.618592  159.154909
237            Dawid Zackiewicz  59.229504  163.182126
238                  Tymon Pryk  59.492218  167.987087
239              Wiktor Szarzec  61.582612  178.406239
240     pani Sylwia Miszkiewicz  56.937830  167.844559
241              Dariusz Smolec  60.543924  161.979867
242           pani Nicole Wujek  64.610894  160.834759
243                Alex Pyrkosz  62.232187  167.217335
244               Inga Kapustka  61.017342  165.043309
245     pani Anastazja Szkatuła  59.137768  159.545721
246                  Róża Kuryś  58.367649  165.298200
247            Nataniel Rejniak  58.513355  172.054873
248      pani Agnieszka Szumiec  59.311388  176.532299
249         pan Kacper Pruchnik  59.619753  174.961270

[250 rows x 3 columns]

In [8]:
tabela_bmi['BMI'] = waga/(wzrost/100)**2

In [9]:
tabela_bmi

                Imie i Nzawisko       Waga      Wzrost        BMI
0                  Antoni Tylka  61.257705  160.668657  23.730036
1               Ksawery Bogumił  63.144822  161.132297  24.320503
2             pani Dorota Kunka  60.702451  165.717926  22.103815
3                Kamil Jamrożek  59.300952  165.061281  21.765630
4                 Julita Mikoda  60.697306  179.139585  18.914126
5             pan Hubert Zbroja  61.953069  159.753342  24.275206
6                Karina Mendyka  59.938984  173.841949  19.833539
7                 Ewelina Kieca  60.432187  168.978316  21.164419
8                   Alex Kałwak  58.304377  162.500724  22.079567
9                 Ernest Zbroja  59.373983  181.120243  18.099318
10           pani Julita Pasich  59.433728  163.887104  22.128064
11               Malwina Martin  59.368909  164.082416  22.051340
12         Franciszek Broniarek  58.432220  173.639625  19.380042
13              Albert Pastucha  59.934413  171.975940  20.264732
14                 Damian Kudra  61.576493  183.138002  18.359380
15                 Ignacy Sędek  61.517556  163.571125  22.992479
16                 Igor Raźniak  61.724321  164.760891  22.737780
17           Anastazja Kubowicz  57.808561  166.409764  20.875388
18                  Julita Cich  60.402639  168.412267  21.296512
19                 Olaf Oziębło  60.016269  166.940870  21.534939
20                Ryszard Batóg  61.019671  170.879044  20.897400
21                  Filip Gorol  58.669271  149.449478  26.267690
22                 Roksana Uzar  61.872034  162.889260  23.318977
23           Kacper Leszkiewicz  61.945865  173.557812  20.564776
24               pani Gaja Mila  58.233413  167.748179  20.694580
25                Szymon Sibiga  59.531430  162.701430  22.488660
26   pan Wojciech Tomaszkiewicz  58.991111  174.321580  19.412625
27      pani Marcelina Paluszak  60.422697  160.466509  23.465580
28               Marek Kociemba  57.824182  161.825242  22.080910
29               Radosław Pyzel  61.220914  168.351922  21.600492
..                          ...        ...         ...        ...
220                Nela Jarczak  60.466905  162.468700  22.907533
221               Ewelina Makar  59.808545  164.600910  22.074901
222      pani Natasza Pachowicz  58.804589  163.797069  21.917901
223                 Paweł Tolak  59.811793  174.483679  19.646139
224          pani Gaja Kiliszek  62.238435  175.797093  20.138879
225        Agnieszka Niedojadło  62.116100  162.481553  23.528598
226              Rafał Baumgart  60.497461  163.335959  22.676370
227               Ewa Posłuszna  62.289989  166.034814  22.595395
228           Dorota Miechowicz  60.721480  171.526311  20.638629
229           pan Mariusz Żynda  57.890272  178.427904  18.183607
230         pani Olga Jancewicz  62.486224  159.774384  24.477665
231            pan Adam Dziełak  60.388022  161.279755  23.216198
232                Sandra Proch  59.055555  164.043994  21.945228
233        pan Konstanty Miotke  58.860850  159.661225  23.090196
234           pan Maciej Portka  57.281711  163.644816  21.390034
235             Szymon Gąszczak  60.047435  167.314071  21.450110
236              Jan Zbroszczyk  59.618592  159.154909  23.536487
237            Dawid Zackiewicz  59.229504  163.182126  22.242977
238                  Tymon Pryk  59.492218  167.987087  21.081832
239              Wiktor Szarzec  61.582612  178.406239  19.348087
240     pani Sylwia Miszkiewicz  56.937830  167.844559  20.210933
241              Dariusz Smolec  60.543924  161.979867  23.075360
242           pani Nicole Wujek  64.610894  160.834759  24.977325
243                Alex Pyrkosz  62.232187  167.217335  22.256275
244               Inga Kapustka  61.017342  165.043309  22.400486
245     pani Anastazja Szkatuła  59.137768  159.545721  23.232428
246                  Róża Kuryś  58.367649  165.298200  21.361707
247            Nataniel Rejniak  58.513355  172.054873  19.766103
248      pani Agnieszka Szumiec  59.311388  176.532299  19.032233
249         pan Kacper Pruchnik  59.619753  174.961270  19.476294

[250 rows x 4 columns]

In [10]:
tabela_bmi.sort_values(by='BMI', ascending=False)

             Imie i Nzawisko       Waga      Wzrost        BMI
98          pan Jacek Hampel  60.202518  147.516348  27.665234
150             Damian Detka  62.876626  152.171390  27.153337
21               Filip Gorol  58.669271  149.449478  26.267690
193             Sylwia Forma  62.330092  154.955642  25.958703
117              Paweł Golan  58.115188  150.506600  25.655386
242        pani Nicole Wujek  64.610894  160.834759  24.977325
92            Fabian Nagórka  59.678643  155.124894  24.800243
45       pan Tymoteusz Nurek  58.403526  153.910292  24.654928
50    pan Krystian Łosiewicz  61.042444  157.838522  24.502246
230      pani Olga Jancewicz  62.486224  159.774384  24.477665
216             Marek Anders  59.456607  156.211629  24.365392
196         Aleksander Stróż  62.701530  160.454142  24.354335
1            Ksawery Bogumił  63.144822  161.132297  24.320503
5          pan Hubert Zbroja  61.953069  159.753342  24.275206
41            Łukasz Grymuza  60.456718  158.207591  24.154049
177           Grzegorz Sygut  60.176393  157.849980  24.151109
211             Juliusz Tyma  63.917182  162.885147  24.090990
133         Julianna Jarczak  62.115363  160.965139  23.973717
189  pan Tobiasz Borysiewicz  58.885301  157.076495  23.866267
0               Antoni Tylka  61.257705  160.668657  23.730036
138            Nikodem Makoś  58.279367  156.758696  23.716552
215            Cezary Ćwierz  60.617615  160.103752  23.648077
236           Jan Zbroszczyk  59.618592  159.154909  23.536487
225     Agnieszka Niedojadło  62.116100  162.481553  23.528598
70        Angelika Zagożdżon  60.326024  160.295077  23.478175
27   pani Marcelina Paluszak  60.422697  160.466509  23.465580
148               Olga Hadam  57.694738  157.106711  23.374737
22              Roksana Uzar  61.872034  162.889260  23.318977
203           pani Ida Dykas  60.255096  160.844522  23.290630
167            Maurycy Korab  60.835608  161.621542  23.289457
..                       ...        ...         ...        ...
110        pani Sonia Kultys  58.026996  173.050392  19.376927
71                Sandra Job  61.861514  178.694185  19.373126
58           Norbert Hartman  59.462633  175.204665  19.371034
239           Wiktor Szarzec  61.582612  178.406239  19.348087
57        pan Gustaw Szybiak  58.824038  174.389374  19.342598
56                Leon Konat  60.958975  177.885680  19.264408
89              Stefan Dmoch  60.645108  177.586241  19.229905
109             Filip Nastaj  56.217377  171.092392  19.204773
173           Konrad Stypuła  59.773724  176.452115  19.198026
129       Jeremi Roszkiewicz  57.957356  173.844252  19.177319
67         pani Karina Wendt  56.753870  172.676572  19.033938
248   pani Agnieszka Szumiec  59.311388  176.532299  19.032233
218    pani Sylwia Malarczyk  60.415946  178.182797  19.029178
53      pan Maks Duszkiewicz  59.221820  176.926852  18.918829
4              Julita Mikoda  60.697306  179.139585  18.914126
114            Bartek Majdan  57.928373  175.791439  18.745451
49          pan Dariusz Jeka  58.106631  176.555417  18.640760
175             Marek Miętka  57.477114  175.837875  18.589602
142            Fabian Hasiak  58.338135  177.397670  18.537737
131         Marianna Tatarek  60.067146  180.026795  18.533724
14              Damian Kudra  61.576493  183.138002  18.359380
229        pan Mariusz Żynda  57.890272  178.427904  18.183607
61              Piotr Pałęga  57.661025  178.411244  18.114982
9              Ernest Zbroja  59.373983  181.120243  18.099318
99      pan Mikołaj Droździk  58.732262  180.260921  18.074802
169               Leon Langa  59.221021  181.516269  17.974002
197        Stanisław Miękina  58.733366  181.600725  17.809418
65        Krystian Malarczyk  61.404388  185.712494  17.803983
64             Bartek Czajor  56.506688  179.830801  17.473170
139   pan Maksymilian Kaluga  59.374569  185.823130  17.194950

[250 rows x 4 columns]

In [11]:
top_3 = tabela_bmi.sort_values(by='BMI', ascending=False).head(3)

In [12]:
top_3

      Imie i Nzawisko       Waga      Wzrost        BMI
98   pan Jacek Hampel  60.202518  147.516348  27.665234
150      Damian Detka  62.876626  152.171390  27.153337
21        Filip Gorol  58.669271  149.449478  26.267690

# Zadanie 0

In [13]:
df_ebc1 = pd.read_csv('eurofxref.csv')

In [14]:
df_ebc2 = pd.read_csv('eurofxref-hist.csv')

In [15]:
print(df_ebc1.head())

               Date     USD     JPY     BGN     CZK     DKK      GBP     HUF  \
0  20 November 2018  1.1421  128.34  1.9558  26.032  7.4627  0.88908  321.25

      PLN     RON ...    INR      KRW      MXN     MYR     NZD     PHP  \
0  4.3177  4.6673 ...  81.65  1287.96  23.3031  4.7803  1.6683  59.859

      SGD     THB      ZAR
0  1.5675  37.655  16.0629

[1 rows x 34 columns]

In [16]:
print(df_ebc2.head())

         Date     USD     JPY     BGN  CYP     CZK     DKK  EEK      GBP  \
0  2018-11-21  1.1409  129.04  1.9558  NaN  26.002  7.4617  NaN  0.89108
1  2018-11-20  1.1421  128.34  1.9558  NaN  26.032  7.4627  NaN  0.88908
2  2018-11-19  1.1427  128.89  1.9558  NaN  26.013  7.4625  NaN  0.89083
3  2018-11-16  1.1346  128.37  1.9558  NaN  25.985  7.4618  NaN  0.88350
4  2018-11-15  1.1305  128.16  1.9558  NaN  25.985  7.4622  NaN  0.88370

      HUF     ...           INR      KRW      MXN     MYR     NZD     PHP  \
0  321.63     ...       81.3520  1287.06  23.1180  4.7735  1.6686  59.593
1  321.25     ...       81.6500  1287.96  23.3031  4.7803  1.6683  59.859
2  321.65     ...       81.8825  1287.63  23.1660  4.7848  1.6740  60.020
3  321.93     ...       81.5735  1283.80  23.0573  4.7562  1.6653  59.873
4  321.99     ...       81.3700  1277.99  23.0659  4.7358  1.6601  59.614

      SGD     THB      ZAR  Unnamed: 42
0  1.5663  37.593  15.9020          NaN
1  1.5675  37.655  16.0629          NaN
2  1.5684  37.623  16.0122          NaN
3  1.5612  37.385  16.1185          NaN
4  1.5570  37.278  16.1238          NaN

[5 rows x 43 columns]

In [17]:
print(df_ebc2.shape)

(5094, 43)

In [18]:
print(df_ebc1.shape)

(1, 34)

In [19]:
print(df_ebc1.columns)

Index(['Date', ' USD', ' JPY', ' BGN', ' CZK', ' DKK', ' GBP', ' HUF', ' PLN',
       ' RON', ' SEK', ' CHF', ' ISK', ' NOK', ' HRK', ' RUB', ' TRY', ' AUD',
       ' BRL', ' CAD', ' CNY', ' HKD', ' IDR', ' ILS', ' INR', ' KRW', ' MXN',
       ' MYR', ' NZD', ' PHP', ' SGD', ' THB', ' ZAR', ' '],
      dtype='object')

In [20]:
print(df_ebc2.columns)

Index(['Date', 'USD', 'JPY', 'BGN', 'CYP', 'CZK', 'DKK', 'EEK', 'GBP', 'HUF',
       'LTL', 'LVL', 'MTL', 'PLN', 'ROL', 'RON', 'SEK', 'SIT', 'SKK', 'CHF',
       'ISK', 'NOK', 'HRK', 'RUB', 'TRL', 'TRY', 'AUD', 'BRL', 'CAD', 'CNY',
       'HKD', 'IDR', 'ILS', 'INR', 'KRW', 'MXN', 'MYR', 'NZD', 'PHP', 'SGD',
       'THB', 'ZAR', 'Unnamed: 42'],
      dtype='object')

In [21]:
df_ebc1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 34 columns):
Date    1 non-null object
 USD    1 non-null float64
 JPY    1 non-null float64
 BGN    1 non-null float64
 CZK    1 non-null float64
 DKK    1 non-null float64
 GBP    1 non-null float64
 HUF    1 non-null float64
 PLN    1 non-null float64
 RON    1 non-null float64
 SEK    1 non-null float64
 CHF    1 non-null float64
 ISK    1 non-null float64
 NOK    1 non-null float64
 HRK    1 non-null float64
 RUB    1 non-null float64
 TRY    1 non-null float64
 AUD    1 non-null float64
 BRL    1 non-null float64
 CAD    1 non-null float64
 CNY    1 non-null float64
 HKD    1 non-null float64
 IDR    1 non-null float64
 ILS    1 non-null float64
 INR    1 non-null float64
 KRW    1 non-null float64
 MXN    1 non-null float64
 MYR    1 non-null float64
 NZD    1 non-null float64
 PHP    1 non-null float64
 SGD    1 non-null float64
 THB    1 non-null float64
 ZAR    1 non-null float64
        1 non-null object
dtypes: float64(32), object(2)
memory usage: 352.0+ bytes

In [22]:
df_ebc2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094 entries, 0 to 5093
Data columns (total 43 columns):
Date           5094 non-null object
USD            5094 non-null float64
JPY            5094 non-null float64
BGN            4696 non-null float64
CYP            2304 non-null float64
CZK            5094 non-null float64
DKK            5094 non-null float64
EEK            3074 non-null float64
GBP            5094 non-null float64
HUF            5094 non-null float64
LTL            4097 non-null float64
LVL            3842 non-null float64
MTL            2304 non-null float64
PLN            5094 non-null float64
ROL            1664 non-null float64
RON            3430 non-null float64
SEK            5094 non-null float64
SIT            2049 non-null float64
SKK            2560 non-null float64
CHF            5094 non-null float64
ISK            2753 non-null float64
NOK            5094 non-null float64
HRK            3495 non-null float64
RUB            3495 non-null float64
TRL            1537 non-null float64
TRY            3557 non-null float64
AUD            5094 non-null float64
BRL            2790 non-null float64
CAD            5094 non-null float64
CNY            3495 non-null float64
HKD            5094 non-null float64
IDR            3495 non-null float64
ILS            2020 non-null float64
INR            2534 non-null float64
KRW            5094 non-null float64
MXN            2790 non-null float64
MYR            3495 non-null float64
NZD            5094 non-null float64
PHP            3495 non-null float64
SGD            5094 non-null float64
THB            3495 non-null float64
ZAR            5094 non-null float64
Unnamed: 42    0 non-null float64
dtypes: float64(42), object(1)
memory usage: 1.7+ MB

In [23]:
print(df_ebc1['Date'].value_counts(dropna=False))

20 November 2018    1
Name: Date, dtype: int64

In [24]:
print(df_ebc2['Date'].value_counts(dropna=False))

2006-08-18    1
2012-04-03    1
2008-12-31    1
2012-11-29    1
2006-03-03    1
2006-06-06    1
2000-03-03    1
2018-03-22    1
2009-06-30    1
2012-10-31    1
2000-01-25    1
2006-03-28    1
2016-08-29    1
2016-01-05    1
2017-10-19    1
2018-02-23    1
2008-06-12    1
2014-11-20    1
2015-01-26    1
2000-07-24    1
2016-03-18    1
2001-10-03    1
2001-01-25    1
2000-07-13    1
2002-07-12    1
2013-06-13    1
2011-08-09    1
2012-05-17    1
2013-06-19    1
2011-10-03    1
             ..
2004-08-24    1
2006-02-03    1
2016-10-26    1
2017-02-27    1
2000-08-28    1
1999-07-26    1
2005-07-26    1
2004-06-07    1
2001-03-16    1
2004-07-05    1
2000-03-29    1
2011-04-11    1
2004-09-09    1
2002-03-07    1
2004-02-25    1
2011-04-27    1
2000-02-02    1
2004-10-27    1
1999-12-03    1
2001-12-03    1
2014-04-09    1
2007-09-28    1
2014-04-11    1
2007-09-11    1
1999-12-23    1
1999-06-22    1
1999-06-25    1
2007-12-12    1
2016-03-15    1
2005-11-29    1
Name: Date, dtype: int64

In [25]:
print(df_ebc2.head(5))

         Date     USD     JPY     BGN  CYP     CZK     DKK  EEK      GBP  \
0  2018-11-21  1.1409  129.04  1.9558  NaN  26.002  7.4617  NaN  0.89108
1  2018-11-20  1.1421  128.34  1.9558  NaN  26.032  7.4627  NaN  0.88908
2  2018-11-19  1.1427  128.89  1.9558  NaN  26.013  7.4625  NaN  0.89083
3  2018-11-16  1.1346  128.37  1.9558  NaN  25.985  7.4618  NaN  0.88350
4  2018-11-15  1.1305  128.16  1.9558  NaN  25.985  7.4622  NaN  0.88370

      HUF     ...           INR      KRW      MXN     MYR     NZD     PHP  \
0  321.63     ...       81.3520  1287.06  23.1180  4.7735  1.6686  59.593
1  321.25     ...       81.6500  1287.96  23.3031  4.7803  1.6683  59.859
2  321.65     ...       81.8825  1287.63  23.1660  4.7848  1.6740  60.020
3  321.93     ...       81.5735  1283.80  23.0573  4.7562  1.6653  59.873
4  321.99     ...       81.3700  1277.99  23.0659  4.7358  1.6601  59.614

      SGD     THB      ZAR  Unnamed: 42
0  1.5663  37.593  15.9020          NaN
1  1.5675  37.655  16.0629          NaN
2  1.5684  37.623  16.0122          NaN
3  1.5612  37.385  16.1185          NaN
4  1.5570  37.278  16.1238          NaN

[5 rows x 43 columns]

In [26]:
print(df_ebc2.tail(3))

            Date     USD     JPY  BGN      CYP     CZK     DKK      EEK  \
5091  1999-01-06  1.1743  131.42  NaN  0.58200  34.850  7.4452  15.6466
5092  1999-01-05  1.1790  130.96  NaN  0.58230  34.917  7.4495  15.6466
5093  1999-01-04  1.1789  133.73  NaN  0.58231  35.107  7.4501  15.6466

         GBP     HUF     ...       INR      KRW  MXN  MYR     NZD  PHP  \
5091  0.7076  250.67     ...       NaN  1359.54  NaN  NaN  2.1890  NaN
5092  0.7122  250.80     ...       NaN  1373.01  NaN  NaN  2.2011  NaN
5093  0.7111  251.48     ...       NaN  1398.59  NaN  NaN  2.2229  NaN

         SGD  THB     ZAR  Unnamed: 42
5091  1.9699  NaN  6.7307          NaN
5092  1.9655  NaN  6.7975          NaN
5093  1.9554  NaN  6.9358          NaN

[3 rows x 43 columns]

In [27]:
df_ebc2['USD'].median()

1.2262

In [28]:
round(df_ebc2[['USD','PLN', 'RUB']].mean(),2)

USD     1.21
PLN     4.10
RUB    48.68
dtype: float64

In [29]:
df_ebc3 = pd.DataFrame(round(df_ebc2[['USD','PLN', 'RUB']].mean(),2))

In [30]:
df_ebc3.shape

(3, 1)

In [31]:
df_ebc3 = df_ebc3.rename(columns={0:'Kursy srednie'})

In [32]:
df_ebc3

     Kursy srednie
USD           1.21
PLN           4.10
RUB          48.68

In [33]:
df_ebc3

     Kursy srednie
USD           1.21
PLN           4.10
RUB          48.68