In [2]:
import pandas as pd

In [3]:
my_serires = pd.Series([1,2,3,4,5,7,9,10])

In [4]:
my_serires

0     1
1     2
2     3
3     4
4     5
5     7
6     9
7    10
dtype: int64

In [5]:
my_serires.values

array([ 1,  2,  3,  4,  5,  7,  9, 10])

In [6]:
my_serires.index

RangeIndex(start=0, stop=8, step=1)

In [7]:



my_serires[4]

5

In [8]:
my_serires2 = pd.Series([9,10,11,12,13], index=['a','b','c','d','e'])

In [9]:
my_serires2

a     9
b    10
c    11
d    12
e    13
dtype: int64

In [10]:
my_serires2['c']

11

In [11]:
my_serires2[['c','d']]

c    11
d    12
dtype: int64

In [12]:
my_serires2[['c','d']] = 0

In [13]:
my_serires2

a     9
b    10
c     0
d     0
e    13
dtype: int64

In [14]:
my_serires2[my_serires2>0]

a     9
b    10
e    13
dtype: int64

In [15]:
my_serires2[my_serires2>0]*2

a    18
b    20
e    26
dtype: int64

In [16]:
my_serires2

a     9
b    10
c     0
d     0
e    13
dtype: int64

In [17]:
my_serires3= pd.Series({'a':2, 'b':3, 'c':8, 'd':13, 'e':18})

In [18]:
my_serires3

'a' in my_serires3

True

In [19]:
2 in my_serires3

False

In [20]:
my_serires3.name= 'numbers'
my_serires3.index.name = 'letters'
my_serires3

letters
a     2
b     3
c     8
d    13
e    18
Name: numbers, dtype: int64

In [21]:
my_serires3.index = ['A','B','C','D','E']

In [22]:
my_serires3

A     2
B     3
C     8
D    13
E    18
Name: numbers, dtype: int64

In [23]:
df = pd.DataFrame({'Country':['Kazachstan', 'Polska', 'Rosja'],
                   'Populacja':[40.2, 38.5,130.7],
                   'Powierzchnia':[2724038, 380000, 17000000]
})

In [24]:
df

      Country  Populacja  Powierzchnia
0  Kazachstan       40.2       2724038
1      Polska       38.5        380000
2       Rosja      130.7      17000000

In [25]:
type(df['Country'])

pandas.core.series.Series

In [26]:
df['Country']

0    Kazachstan
1        Polska
2         Rosja
Name: Country, dtype: object

In [27]:
df.columns

Index(['Country', 'Populacja', 'Powierzchnia'], dtype='object')

In [28]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [29]:
df.index = ['KZ', 'PL', 'RU']

In [30]:
df.index.name = 'Country Code'

In [31]:
df

                 Country  Populacja  Powierzchnia
Country Code
KZ            Kazachstan       40.2       2724038
PL                Polska       38.5        380000
RU                 Rosja      130.7      17000000

In [32]:
df['Country']

Country Code
KZ    Kazachstan
PL        Polska
RU         Rosja
Name: Country, dtype: object

In [33]:
df.loc['PL']

Country         Polska
Populacja         38.5
Powierzchnia    380000
Name: PL, dtype: object

In [34]:
df.iloc[1]

Country         Polska
Populacja         38.5
Powierzchnia    380000
Name: PL, dtype: object

In [35]:
df.loc[['PL','RU'], 'Populacja']

Country Code
PL     38.5
RU    130.7
Name: Populacja, dtype: float64

In [36]:
df.loc['PL':'RU', :]

             Country  Populacja  Powierzchnia
Country Code
PL            Polska       38.5        380000
RU             Rosja      130.7      17000000

In [37]:
df[df.Populacja>40][['Country', 'Powierzchnia']]

                 Country  Powierzchnia
Country Code
KZ            Kazachstan       2724038
RU                 Rosja      17000000

In [38]:
df.reset_index()

  Country Code     Country  Populacja  Powierzchnia
0           KZ  Kazachstan       40.2       2724038
1           PL      Polska       38.5        380000
2           RU       Rosja      130.7      17000000

In [39]:
df['Zageszczenie'] = df['Populacja']/df['Powierzchnia']*1000000

In [40]:
df

                 Country  Populacja  Powierzchnia  Zageszczenie
Country Code
KZ            Kazachstan       40.2       2724038     14.757503
PL                Polska       38.5        380000    101.315789
RU                 Rosja      130.7      17000000      7.688235

In [41]:
df.drop(['Zageszczenie'], axis='columns')

                 Country  Populacja  Powierzchnia
Country Code
KZ            Kazachstan       40.2       2724038
PL                Polska       38.5        380000
RU                 Rosja      130.7      17000000

In [42]:
df = df.rename(columns={'Populacja':'Population', 'Powierzchnia':'Squere'})

In [43]:
df

                 Country  Population    Squere  Zageszczenie
Country Code
KZ            Kazachstan        40.2   2724038     14.757503
PL                Polska        38.5    380000    101.315789
RU                 Rosja       130.7  17000000      7.688235

In [44]:
df['Zageszczenie'] = df['Population']/df['Squere']*1000000

In [45]:
df

                 Country  Population    Squere  Zageszczenie
Country Code
KZ            Kazachstan        40.2   2724038     14.757503
PL                Polska        38.5    380000    101.315789
RU                 Rosja       130.7  17000000      7.688235

In [46]:
del df['Zageszczenie']

In [47]:
df

                 Country  Population    Squere
Country Code
KZ            Kazachstan        40.2   2724038
PL                Polska        38.5    380000
RU                 Rosja       130.7  17000000

In [48]:
df.to_csv('CountryCode.csv')

In [49]:
df1 = pd.read_csv('CountryCode.csv', sep=',')

In [50]:
df1

  Country Code     Country  Population    Squere
0           KZ  Kazachstan        40.2   2724038
1           PL      Polska        38.5    380000
2           RU       Rosja       130.7  17000000

In [51]:
titanic_df = pd.read_csv('titanic.csv')
print(titanic_df.head())

   PassengerID                                           Name PClass    Age  \
0            1                   Allen, Miss Elisabeth Walton    1st  29.00
1            2                    Allison, Miss Helen Loraine    1st   2.00
2            3            Allison, Mr Hudson Joshua Creighton    1st  30.00
3            4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00
4            5                  Allison, Master Hudson Trevor    1st   0.92

      Sex  Survived  SexCode
0  female         1        1
1  female         0        1
2    male         0        0
3  female         0        1
4    male         1        0

In [52]:
print(titanic_df.groupby(['Sex', 'Survived'])['PassengerID'].count())

Sex     Survived
female  0           154
        1           308
male    0           709
        1           142
Name: PassengerID, dtype: int64

In [53]:
print(titanic_df.groupby(['PClass', 'Survived'])['PassengerID'].count())

PClass  Survived
*       0             1
1st     0           129
        1           193
2nd     0           160
        1           119
3rd     0           573
        1           138
Name: PassengerID, dtype: int64

In [54]:
pvt = titanic_df.pivot_table(index=['Sex'], columns=['PClass'], values='Name', aggfunc='count')

In [55]:
pvt

PClass    *    1st    2nd    3rd
Sex
female  NaN  143.0  107.0  212.0
male    1.0  179.0  172.0  499.0

In [56]:
print(pvt.loc['female',['1st', '2nd','3rd']])

PClass
1st    143.0
2nd    107.0
3rd    212.0
Name: female, dtype: float64

In [57]:
pvt

PClass    *    1st    2nd    3rd
Sex
female  NaN  143.0  107.0  212.0
male    1.0  179.0  172.0  499.0